<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="SimpleSqliteDatabaseConnString" connectionString="Data Source='SIMSERVER\SQLEXPRESS';Integrated Security=True;Pooling=False;Initial Catalog='SimpleSqlite'" />
  </connectionStrings>
  <appSettings>
    <add key="Version" value="Version1.0" />
    <add key="FromEmailAddress" value="sales@simplesqlite.com" />
    <!--<add key="FromHost" value="smtpout.secureserver.net" />-->
    <add key="FromHost" value="relay-hosting.secureserver.net" />
    <add key="FromName" value="SimpleSqlite" />
    <add key="FromPort" value="25" />
    <add key="FromUserName" value="sales@simplesqlite.com" />
    <add key="FromUserPassword" value="Mann41287!" />
    <add key="APIEmailSubject" value="SimpleSqlite Api License File" />
    <add key="UtilityEmailSubject" value="SimpleSqlite Utility License File(s)" />
    <add key="ApiLicenseFileName" value="api.sslic" />
    <add key="UtilityLicenseFileName" value="util.sslic" />
    <add key="IntelliLockDatabasePassword" value="Mann41287!" />
  </appSettings>
  
</configuration>